.container{
    clear: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
}

.card{
    height: 100%;
    width: 90%;
    padding: 1em 1em;
    margin: 1em 1em;
    box-shadow: 0.5em 0.5em 0.5em gray;
}


.card-body{
    float: left;
}

.bt{
    box-shadow: none;
    border-style: none;
}

.card-img{
    height: 100%;
    float: left;
    margin-bottom: 5%;
}

.card-img-top{
    height: 100%;
    float: left;
}

.btn{
    border-color: rgb(255, 115, 0);
    background-color: rgb(255, 115, 0);
}


.bg-danger{
    border-color: red;
}

.btn-primary{
    padding: 0.2em;
    margin-right: 1em;
}

.close{
    background-color: white;
    border: none;
}

.bt{
    float: right;
    padding: 0.3em 0.3em;
    margin: 2em 2em;
}