
.card{
    flex: display;
    margin: 1em 1em;
    float: left;
    box-shadow: inset;
}

.card-img-top{
    width: 7em;
    height: 5em;
}

input{
    margin-bottom: 1em;
}

.butt{
    border: none;
}

.btn{
    margin-right: 1em;
    justify-content: center;
    height: 100%;
}