<div class="container">
  <div class="card" *ngFor="let product of products" style="width: 18rem;">
    <div class="card-img"><img [src]="product.imageUrl" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{product.name | uppercase}}</h5>
      <p class="card-text" *ngIf="product.price < 10">${{ product.price }} (*On Discount)</p>
      <p class="card-text" *ngIf="product.price >= 10">${{ product.price }}</p>
      <p class="card-text">{{product.description}}</p>
      <button type="button" class="btn btn-primary" (click)="onViewDetail(product.id)">view detail</button>
      <button type="button" class="btn btn-primary" (click)="delete(product.id)">DELETE</button>
    </div>
  </div>
  <div class="card bt">
    <button type="button" class="btn btn-info btn-lg" (click)="openModal()">+</button>
  </div>
</div>



<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form (ngSubmit)="add(f)" #f=ngForm>
        <div class="modal-header">
          <h4 class="modal-title">Add Product</h4>
          <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input ngModel type="text" class="form-control" placeholder="Name" name="name" #name="ngModel">
            </div>
            <div class="mb-3">
              <label class="form-label">Price</label>
              <input ngModel type="text" class="form-control" placeholder="Price" name="price" #name="ngModel">
            </div>
            <div class="mb-3">
              <label class="form-label">description</label>
              <input ngModel type="text" class="form-control" placeholder="description" name="description" #name="ngModel">
            </div>
            <div class="mb-3">
              <label class="form-label">choose image</label>
              <input ngModel type="file" class="form-control" name="imageurl" #name="ngModel">
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-primary" (click)="onCloseHandled()" >Cancle</button>
        </div>
      </form>
    </div>
  </div>
</div>



